#login-panel{
    margin-top: 10%;
    animation-duration: 1s;
}
#add-panel{
    margin-top: 10%;
    animation-duration: 0.5s;
}
#clock{
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 15px black;
    font-size: 64px;
}
#timer{
    color: red;
}
#user-panel,#laporan-panel,#config-panel{
    animation-duration: 0.5s;
}
#user-table{
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}
